<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <a href="#">
                        <img src="img/logos/Python.jpg" class="img-fluid logo-img" alt="">
                    </a>
                </div>
                <div class="col-md-6 col-sm-6">
                    <a href="#">
                        <img src="img/logos/R.jpg" class="img-fluid logo-img" alt="">
                    </a>
                </div>
                <div class="col-md-6 col-sm-6">
                    <a href="#">
                        <img src="img/logos/PowerBi.jpg" class="img-fluid logo-img" alt="">
                    </a>
                </div>
                <div class="col-md-6 col-sm-6">
                    <a href="#">
                        <img src="img/logos/PostgreSQL.jpg" class="img-fluid logo-img" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>