<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
                <h3 class="section-subheading text-muted">From messy spreadsheets to clear insights…</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Data Cleaning & Preparation </h4>
                <p class="text-muted">Database cleansing, format standardization, and elimination of inconsistencies to
                    ensure data quality.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Data Integration & Transformation </h4>
                <p class="text-muted">Consolidation of multiple sources (CSV, APIs, SQL/NoSQL databases) into
                    clean, analysis-ready structures.</p>
            </div>
            <!-- <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-bar-chart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Data Visualization & Reporting</h4>
                <p class="text-muted">Creation of interactive dashboards and strategic reports that transform data
                    into actionable insights.</p>-->
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Automation processes</h4>
                <p class="text-muted">Scripts that reduce manual tasks: cleanup, integration, report generation, and
                    automated alerts.</p>
            </div>
            </div>
        </div>
</section>